@CHARSET "utf-8";

body {
    background-size: 1300px 800px; /*sx orizzontale, dx verticale 1300x800Alakazam*/
    background-repeat: no-repeat;
}

#imgSearchLittle {
	float: left;
}

#imgSearc {
	float:right;
}
